@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-style: normal;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

.poppins-n {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-m {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-sb {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-b {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }

    input[type]:focus {
        outline: 0 none;
    }
}

.shadowM {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.disabledButton {
    background-color: rgb(145, 141, 141);
}
.disabledInput {
    background-color: rgb(245, 233, 233);
}